<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    "header_footer","basic_parts","btn_ill_parts","text","wrapper","media", :media => "all" %>
</head>
<tbody>
<div class ="wrap">

 <div class ="QA-room">
  <h3 class ="title-QA">Q&A</h3>
  <article class ="Q_A">
   <p class ="Q">JAPANIGHTとはどのようなサービスですか?</p>
   <p class ="A">JAPANIGHTは、日本を訪れる旅行者（ゲスト）と、日本に在住するガイドをマッチングするサービスです。主に日本の夜をガイドし、ゲストと一緒に楽しむマッチングサービスです。</p>
  </article>
  <article class ="Q_A">
   <p class ="Q">ユーザー登録は無料ですか？</p>
   <p class ="A">ゲストとガイドともに無料で登録できます。</p>
  </article>
  <article class ="Q_A">
   <p class ="Q">ガイドは手数料をもらえませんか?</p>
   <p class ="A">β版サービスでは、ガイドフィー無料キャンペーン中です。正式ローンチ後手数料決済機能を実装予定です。</p>
  </article>
  <article class ="Q_A">
   <p class ="Q">ユーザー登録の際にメールアドレスにのエラーが出るのですが?</p>
   <p class ="A">メールアドレスが既に登録済み、または無効な文字列が含まれるメールアドレスになります。</p>
  </article>
  <article class ="Q_A">
   <p class ="Q">パスワードを忘れた</p>
   <p class ="A">以下の手順で再設定することが可能です。<br>
     【パスワードの再設定方法】<br>
     １．「サインイン」＞「パスワード忘れ」を選択<br>
     ２．該当のメールアドレス宛にパスワード再設定用のメールを送信<br>
     ３．該当のメールアドレスに届いたメール内のURLよりパスワード再設定をおこなう</p>
  </article>
  <article class ="Q_A">
   <p class ="Q">退会したい</p>
   <p class ="A">退会について以下の手順となります。<br>
     【退会の方法】<br>
     １．こちらにご登録のメールアドレスを入力<br>
     ２．該当のメールアドレス宛に退会手続き用のメールを送信<br>
     ３．該当のメールアドレスに届いたメール内のURLより退会の手続きをおこなう<br><br>
     ※以下に該当する場合、退会することができません。<br>
     ・要請された依頼がある場合・進行中の依頼がある場合<br>
     ・ガイド報酬の支払関係が進行中の場合退会の手続きの際に、よろしければ、退会理由を添えていただきますようご協力をお願いいたします</p>
  </article>
 </div>

</div>
</tbody>
</html>
