<!DOCTYPE html>

<html>
<head>
</head>
<body>
  <div class ="company-profile">

      <div class ="regi-group" id ="en_jp">
        <li class ="regi is-active"><i class="fas fa-chevron-down"></i><u> English</u></li>
        <li class ="regi"><i class="fas fa-chevron-down"></i><u> Japanese</u></li>
      </div>

      <div class= "panel is-show">
        <p class ="title-company">SPECIAL COMMERCIAL CODE</p><br><br><br>
        <p>1. Name of business operator</p>
        <p>***. Inc.</p>
        <p>2. Name of representative</p>
        <p>Masaya Mizuno</p>
        <p>3. Address</p>
        <p>Tyuoku ***</p>
        <p>4. Telephone number</p>
        <p>***</p>
        <p>5. Email address</p>
        <p>*****@m.huber.co.jp</p>
        <p>6. Sale prices of products/consideration for services</p>
        <p>Prices displayed on the purchase page for the products and services</p>
        <p>7. Expenses other than prices that will be necessary</p>
        <p>In accordance with the stipulations of the Terms of Use, payment of a cancellation fee may be necessary.</p>
        <p>Internet connection fee and other expenses related to transmission through electronic communication lines will be paid by the customer (the amount will be as stipulated by the business operator with whom the customer has a contract).</p>
        <p>8. Timing of payment of prices</p>
        <p>In accordance with the stipulations of the Terms of Use, settlement will be made in advance.</p>
        <p>9. Payment methods</p>
        <p>Guest Members may make payments for the Services by credit card or PayPal.</p>
        <p>Payments by the Company to Host Members will be by bank remittance.</p>
        <p>10. Timing of delivery of products or provision of services</p>
        <p>After advance payment of the prices by a customer has been confirmed, ordered products and services will be provided on the date, at the time, and at the place displayed on the purchase page of the products and services.</p>
        <p>11. Special provisions concerning returns and cancellation</p>
        <p>Returns and cancellation if an agreement to use the services (Contents) was executed through the Website will be as set forth in the Terms of Use.</p>
        <p>For products and services that have special sale conditions or provision conditions, the conditions will be displayed on the purchase pages of the products and services.</p>
      </div>

      <div class= "panel">
        <p class ="title-company">利用規約</p><br><br><br>
        <p>1.事業者の名前</p>
        <p>*** Inc.</p>
        <p>2.代表者の名前</p>
        <p>水野　理哉</p>
        <p>3.住所</p>
        <p>4.電話番号</p>
        <p>81（国番号）-</p>
        <p>5.メールアドレス</p>
        <p>＊＊＊@m.＊＊＊.co.jp</p>
        <p>6.製品の販売価格/サービスの検討</p>
        <p>製品およびサービスの購入ページに表示される価格</p>
        <p>7.必要となる価格以外の費用</p>
        <p>利用規約の規定に従い、キャンセル料の支払いが必要になる場合があります。</p>
        <p>電子通信回線を介した伝送に関連するインターネット接続料金およびその他の費用は、お客様がお支払いいただきます（金額は、お客様が契約している事業者によって規定されます）。</p>
        <p>8.価格の支払いのタイミング</p>
        <p>利用規約の規定に従い、事前に決済が行われます。</p>
        <p>9.支払い方法</p>
        <p>ゲストメンバーは、クレジットカードまたはPayPalでサービスの支払いを行うことができます。</p>
        <p>当社によるホスト会員への支払いは銀行送金によるものです。</p>
        <p>10.製品の配送またはサービスの提供のタイミング</p>
        <p>顧客による価格の前払いが確認された後、注文された製品およびサービスは、製品およびサービスの購入ページに表示された日付、時間、および場所で提供されます。</p>
        <p>11.返品とキャンセルに関する特別規定</p>
        <P>Webサイトを通じてサービス（コンテンツ）の使用契約が締結された場合の返品とキャンセルは、利用規約に記載されているとおりです。</p>
        <p>特別な販売条件または提供条件がある製品およびサービスの場合、条件は製品およびサービスの購入ページに表示されます。</p>
      </div>

  </div>
</body>
</html>
