<!DOCTYPE html>

<html>
<head>
</head>
<body>

 <div class ="company_pic">
   <div class ="big-logo">J_Guide</div>
 </div>

 <div class ="company-profile-b">

   <div class ="regi-group" id ="en_jp">
     <li class ="regi is-active"><i class="fas fa-chevron-down"></i><u> English</u></li>
     <li class ="regi"><i class="fas fa-chevron-down"></i><u> Japanese</u></li>
   </div>

     <div class= "panel is-show">
       <p class ="title-company">COMPANY</p><br><br><br>
       <article class="container">
         <p class ="Q">Company Name</p>
         <p>***</p>
         <p class ="Q">Establishment</p>
         <P>2020/01/01</p>
         <p class ="Q">Autorized Representative of Juristic Person</p>
         <p>Masaya Mizuno</p>
         <p class ="Q">Capital</p>
         <p>1000000</p>
       </article>
     </div>


   <div class= "panel">
     <p class ="title-company">会社概要</p><br><br><br>
     <article class="container">
       <p class ="Q">社名</p>
       <p>***</p>
       <p class ="Q">設立</p>
       <P>2020年1月1日</p>
       <p class ="Q">代表</p>
       <p>水野　理哉</p>
       <p class ="Q">資本金</p>
       <p>1000000円</p>
     </article>
   </div>

 </div>
 </html>
