<!DOCTYPE html>

<html>
<head>
</head>
<body>
<div class ="company-profile">

  <div class ="regi-group" id ="en_jp">
    <li class ="regi is-active"><i class="fas fa-chevron-down"></i><u> English</u></li>
    <li class ="regi"><i class="fas fa-chevron-down"></i><u> Japanese</u></li>
  </div>

  <div class= "panel is-show">
   <h3 class ="title-company">PRIVACY POLICY</h3><br><br><br>
   <article class ="container">
    <p>*** Co., Ltd. (hereinafter referred to as “the Company”), in order to protect personal information provided by users regarding the **** (****) provided by the Company (hereinafter referred to as “the Service”), We will comply with the Act on the Protection of Personal Information (hereinafter referred to as the “Personal Information Protection Act”) and other related laws and regulations as well as this Privacy Policy.</p>
    <p>1. Acquisition of personal information</p>
    <p>We collect personal information in the following cases.</p>
    <p>When a user registers for this service</p>
    <p>When users register or post information on this service</p>
    <p>When the user consents to the linkage between this service and an external service operated by a third party (hereinafter referred to as "external service")</p>
    <p>When receiving inquiries or requests regarding this service</p>
    <p>When a user participates in a campaign, etc. operated and managed by the Company</p>
    <p>Other cases based on the above incidents</p>
    <p>2.Purpose of using personal information</p>
    <p>We use personal information only for the following purposes. In addition, we will not use personal information beyond this scope, unless we have the consent of the person and we are allowed by the Personal Information Protection Law and other laws concerning personal information.</p>
    <p>Provision of various services for members</p>
    <p>Distribution of notices and various communications associated with this service</p>
    <p>Temporary backup storage for the operation and management of this service</p>
    <p>Acceptance of applications for various campaigns, questionnaires, etc.</p>
    <p>Distribution of information such as e-mail magazines and announcements to members</p>
    <p>Advertisement distribution on this service</p>
    <p>Investigation, verification, etc. for safe operation of this service</p>
    <p>Answers to opinions and inquiries regarding this service</p>
    <p>To send important notices such as changes to our terms, conditions and policies.</p>
    <p>For other purposes associated with the above purposes.</p>
    <p>3. Provision of personal information to third parties</p>
    <p>The Company will not provide personal information to a third party unless the user consents in advance, unless otherwise permitted by law.</p>
    <p>When we transfer a part or all of our business with a third party, such as a merger, acquisition, etc., we may transfer your personal information to that third party. The Company shall endeavor to maintain confidentiality in accordance with the terms of this Privacy.</p>
    <p>In addition, since this service is a service for the purpose of information sharing between users, the information posted by the user to this service will be sent through this service, unless the user has otherwise set it as private. It may be published and may be searched by search engines or reused by other websites.</p>
    <p>4.Safety management of personal information</p>
    <p>The Company shall take measures to prevent the leakage, loss or damage of personal information and other safety management, and to educate employees of the Company to ensure the protection of personal information.</p>
    <p>5. Cooperation with external services</p>
    <p>In this service, the user can connect and link with an account of an external service operated by a third party upon consent of the user, but the information provided to the external service by the user is under our control. Please note that the external service terms of service, privacy policy and our terms of service, privacy policy apply separately.</p>
    <p>6. Use of statistical information</p>
    <p>We collect data in an unidentifiable form and use it as statistical information to help provide more useful information to our users and for our websites and services. It may be used to understand which part is most interesting. Statistical data is considered not personal information for the purposes of this Privacy Policy.</p>
    <p>7. About cookies and other technologies</p>
    <p>This service may use cookies and other technologies such as pixel tags and web beacons. These technologies help us better understand user behavior, know where people have visited our website, and promote and evaluate the effectiveness of advertising and web search . Users who want to disable cookies should disable cookies by changing their web browser settings. However, please note that if you disable cookies, you may not be able to use some functions of this service.</p>
    <p>8. Request for notification, disclosure, correction, suspension of use, etc. of the purpose of use of personal information</p>
    <p>The Company accepts notification of purpose of use and disclosure of personal information, correction, addition or deletion of contents, suspension or deletion of use, suspension of provision to third parties at the following counter. If there is a request from the person himself / herself, after confirming that the person who made the request is the person himself / her or his / her agent, we will respond in accordance with the provisions of laws and regulations and reply in writing or by e-mail.</p>
    <p>In addition, if the application does not meet the requirements stipulated by laws and regulations, or if there is a reason for refusal of disclosure etc. due to the Personal Information Protection Act or other laws and regulations, we may not be able to respond to the application. .</p>
    <p>In addition, please note that you may be charged a fee (500 yen) for notification of purpose of use and disclosure of personal information held.</p>
    <p>9. Inquiry window</p>
    <p>Requests for disclosure, opinions, questions, complaints, and other inquiries regarding the handling of personal information are accepted by telephone or e-mail to the following window.</p>
    <p>[User counter]</p>
    <p>**** Secretariat</p>
    <p>Customer support team</p>
    <p>Phone number: 03-3280-8811</p>
    <p>Email address: ****@****.biz</p>
    <p>(Reception hours: From 10am to 6pm on weekdays)</p>
    <p>10. Governing law and exclusive jurisdiction</p>
    <p>The governing law of this Privacy Policy shall be Japanese law, and the Tokyo District Court shall be the exclusive jurisdiction court of the first instance for any dispute arising from or related to this Privacy Policy.</p>
    <p>11.Continuous improvement</p>
    <p>The Company shall review the operational status regarding the handling of personal information from time to time and strive for continuous improvement, and may change this Privacy Policy as necessary. We will not reduce your rights under this Privacy Policy without your express permission. In addition, when this privacy policy is changed, we will post it on this page, and we will endeavor to notify in a clearer way if there is a significant change.</p>
   </article>
  </div>

  <div class= "panel">
   <h3 class ="title-company">プライバシー ポリシー</h3><br><br><br>
   <article class="container">

    <p>株式会社***（以下「当社」といいます。）は、当社の提供する***（***）（以下「本サービス」といいます。）に関して、ユーザーからご提供頂いた個人情報を保護するため、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）その他関係法令を遵守するとともに、本プライバシーポリシーを遵守します。</p>

    <p>1.個人情報の取得</p>
    <p>当社は、以下の場合などにおいて、個人情報を取得させていただいております。</p>
    <p>ユーザーが本サービスに登録する場合</P>
    <p>ユーザーが本サービスに情報等を登録、投稿する場合</p>
    <p>第三者が運営する外部サービス（以下「外部サービス」といいます。）と本サービスの連携についてユーザーが承諾した場合</p>
    <p>本サービスに関してお問い合わせ、ご要望等をお受けする場合</p>
    <p>当社の運営、管理するキャンペーン等に、ユーザーが参加する場合</p>
    <p>その他上記に付随する行為に基づく場合</p>
    <p>2.個人情報の利用目的</p>
    <p>当社は、個人情報を以下の目的の範囲内のみで利用いたします。また、ご本人の同意がある場合及び個人情報保護法その他の個人情報に関する法令により認められる場合を除いては、この範囲を超えて個人情報を利用することはありません。</p>
    <p>会員向け各種サービスの提供</p>
    <p>本サービスに伴うお知らせの配信、各種連絡</p>
    <p>本サービスの運営、管理のための、一時的なバックアップの保管</p>
    <p>各種キャンペーン、アンケート等への応募受け付け及び対象者への連絡、発送</p>
    <p>会員へのメールマガジン、お知らせなどの情報配信</p>
    <p>本サービス上においての広告配信</p>
    <p>本サービスを安全に運営するための調査、検証等</p>
    <p>本サービスに関するご意見、お問い合わせ等への回答</p>
    <p>当社の規約、条件及びポリシーの変更などの重要な通知をお送りするため。</p>
    <p>その他、上記利用目的に付随する目的のため。</p>
    <p>3.個人情報の第三者提供</p>
    <p>当社は、ユーザーがあらかじめ同意した場合、その他法令により認められる場合を除いては、個人情報を第三者に提供することはありません。</p>
    <p>当社が第三者との間で、合併、買収その他当社の事業の重要な一部又は全部を譲渡する場合は、ユーザーの個人情報を当該第三者に譲渡する場合がありますが、その場合も当社は本プライバシーの条件に従って機密性が保持されるよう努めるものとします。</p>
    <p>なお、本サービスはユーザー同士による情報共有を目的としたサービスであるため、ユーザーが本サービスに投稿した情報は、別途ユーザーが当社の定めるところに従い非公開の設定をした場合を除き、本サービスを通して公開され、検索エンジンなどで検索の対象となったり、他のウェブサイトで再利用される可能性があります。</p>
    <p>4.個人情報の安全管理</p>
    <p>当社は、個人情報の漏えい、滅失又はき損の防止その他の安全管理のための措置を講じるとともに、当社の従業員に対する教育を行い、個人情報保護を徹底します。</p>
    <p>5.外部サービスとの連携</p>
    <p>本サービスにおいては、ユーザーが承諾することにより、第三者の運営する外部サービスのアカウントと接続、連携することができますが、ユーザーが外部サービスに提供した情報については、当社の管理下にあるものではなく、外部サービスの利用規約、プライバシーポリシーと当社の利用規約、プライバシーポリシーがそれぞれ別に適用されることにご注意ください。</p>
    <p>6.統計情報の利用</p>
    <p>当社は、個人を特定することができない形式のデータを収集し、これを統計情報として、当社のユーザーに対して、より有益な情報を提供するのに役立てるため、及び当社のウェブサイト、サービスのどの部分が最も関心を持たれているかを理解するためなどに利用することがあります。統計データは、本プライバシーポリシーにおいて、個人情報ではないとみなされます。</p>
    <p>7.Cookie（クッキー）及びその他の技術について</p>
    <p>本サービスは、Cookie及びピクセルタグやウェブビーコンなどのその他の技術を利用することがあります。これらの技術は、当社がユーザーの動向をより良く理解するのに役立ち、人々が当社のウェブサイトのどの部分を訪れたのかが分かり、かつ、広告及びウェブ検索の効果を促進し、評価します。Cookieを無効化されたいユーザーは、ウェブブラウザの設定を変更することによりCookieを無効化してください。ただし、Cookieを無効化すると、本サービスの一部の機能をご利用いただけなくなる場合がありますので、ご注意ください。</p>
    <p>8.個人情報の利用目的の通知、開示、訂正、利用停止等の求め</p>
    <p>当社は、利用目的の通知及び個人情報の開示、内容の訂正、追加又は削除、利用停止又は消去、第三者への提供の停止について、下記の窓口にて受け付けております。ご本人からのお申出があった場合には、お申出頂いた方がご本人又はその代理人であることを確認のうえ、法令の定めに従い対応し、書面又はメールにて回答いたします。</p>
    <p>なお、お申出が法令の定める要件を充たさない場合、又は、個人情報保護法その他の法令により、開示等を拒絶することが認められる事由がある場合には、お申出に添えないことがございます。</p>
    <p>また、利用目的の通知及び保有する個人情報の開示に際しては、手数料（500円）を頂くことがありますので、あらかじめ御了承ください。</p>
    <p>9.お問い合せ窓口</p>
    <p>開示等のお申出、ご意見、ご質問、苦情、その他個人情報の取扱いに関するお問い合せは、以下の窓口への電話又はメールにて受け付けております。</p>
    <p>【ユーザー窓口係】</p>
    <p>****事務局</p>
    <p>カスタマーサポートチーム</p>
    <p>電話番号：　03-3280-8811</p>
    <p>メールアドレス：　****@****.biz</p>
    <p>（受付時間： 平日午前10時から午後6時まで）</p>
    <p>10.準拠法及び専属的合意管轄</p>
    <p>本プライバシーポリシーの準拠法は日本法とし、本プライバシーポリシーに起因し又は関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>
    <p>11.継続的改善</p>
    <p>当社は、個人情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本プライバシーポリシーを変更することがあります。当社は、本プライバシーポリシーに基づくユーザーの権利をユーザーの明示的な許可なく縮減することはありません。また、本プライバシーポリシーの変更に際してはこのページに掲載し、大幅な変更の場合はより明確な方法で告知するよう努めます</p>
   </article>
  </div>




 </div>
 </body>
 </html>
