<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    "header_footer","basic_parts","btn_ill_parts","text","wrapper","media", :media => "all" %>
</head>
<body>
<div class ="company-profile">
  <h3 class ="title-company">Company</h3>
  <article class ="company-info">
   <p class ="Q">社名</p>
   <p class ="A">JAPANIGHT</p>
  </article>

 </div>
 </html>
