<!DOCTYPE html>

<html>
<head>
</head>
<body>
<div class ="company-profile">

    <div class ="regi-group" id ="en_jp">
      <li class ="regi is-active"><i class="fas fa-chevron-down"></i><u> English</u></li>
      <li class ="regi"><i class="fas fa-chevron-down"></i><u> Japanese</u></li>
    </div>

    <div class= "panel is-show">
      <p class ="title-company">TERMS OF USE</p><br><br><br>
      <p>A service that provides a matching system for sharing the experiences of "" (hereinafter "this site") (hereinafter "this service") is provided by KK (hereinafter "our company"). It is operated using an online platform. This site and this service are provided based on the following terms of use (hereinafter referred to as "Terms").</p>
      <p>Article 1 (Application of these Terms)</p>
      <p>This agreement applies between the member and the Company in all of the Services operated by the Company. By using this service, the member agrees to all items of this agreement including personal rules and the privacy policy.</p>
      <p>Article 2 (Definition of terms used)</p>
      <p>1. “Members” means individuals and organizations who have registered with the Site after agreeing to the Terms.</p>
      <p>2. “Guide” means a member of this site who receives a reservation for registration service.</p>
      <p>3. “Guest” means a member of this site who makes a reservation for registration service.</p>
      <p>4. “Registration Service” means the service offered to the guest by the guide registered on this site.</p>
      <p>5. “Transaction” means that a guest reserves a guide registration service on this site.</p>
      <p>Article 3 (Membership and membership registration procedures)</p>
      <p>
      Individuals who have agreed to these terms and who have undergone our membership registration procedures will be eligible as members after completing the membership registration procedures. The member registration procedure must be performed by the member himself / herself.
      Membership registration by a corporation or agent is not permitted at all.
      If you are under 18 years of age, you cannot register as a member on this site.
      Member registration may be refused if the Company deems it unsuitable at the discretion of the Company.<p>
      </p>
      <p>In addition, the Company may refuse registration if a person who applied for registration based on the above falls under any of the following items.</p>
      <p>(1) If we determine that there is a risk of violating this agreement</p>
      <p>(2) If all or part of the registration information provided to the Company is false, typographical, or missing information</p>
      <p>(3) If you have been previously unregistered for the use of this service</p>
      <p>(4) If you are a minor, adult guardian, guardian or assistant, and have not obtained the consent of a legal representative, guardian, guardian or assistant </p>
      <p>(5) Anti-social forces (meaning gangs, gang members, right-wing groups, anti-social forces, and other similar persons; the same shall apply hereinafter) or maintenance of anti-social forces through funding and other means If we determine that we have some kind of interaction or involvement with anti-social forces that cooperate or participate in management or management</p>
      <p>(6) Other cases where the Company deems that registration is not appropriate</p>
      <p>Article 4 (Entering Member Information)</p>
      <p>In the membership registration procedure, please enter the required information correctly without falsehood.</p>
      <p>Article 5 (Password Management)</p>
      <p>The password must be stored by the member himself / herself in a responsible manner so that the password will not be known to others,and the password must be changed regularly.</p>
      <p>If the entered e-mail address or password is confirmed to match the one registered as a member by the prescribed method of the Company,it is considered that the member has used it, and it is considered that the member has used it for theft, unauthorized use or other reasons Even if it is used by a person other than the person, the Company is not liable for any damages caused by it.</p>
      <p>Article 6 (Change of Member Registration Information)</p>
      <p>If there is a change in the registered information, the member himself / herself must immediately carry out the change procedure using the method prescribed by the Company. The Company is not liable for any damages or the like caused by the change not being properly made by the member. Even if a change is made, transactions that are started before the change is registered are based on the information before the change is registered.</p>
      <p>Article 7 (Contents of the Service)</p>
      <p>1. Members can use the Service in accordance with the methods stipulated by the Company within the scope of the purpose of the Terms and within the scope not violating the Terms, as long as they are effectively registered as members.</p>
      <p>Article 8 (Member withdrawal)</p>
      <p>If a member wishes to withdraw from membership, he / she will promptly withdraw his / her membership by a method prescribed by the Company. After the prescribed withdrawal procedure is completed, the membership will be withdrawn.</p>
      <p>Article 9 (Disclaimer)</p>
      <p>1. We only provide a system for members to exchange and share information on travel experiences, etc., and in any case, our company and affiliated companies are not parties to transactions. We are not liable for any warranty or other liability for the registered information.</p>
      <p>2. Members shall investigate whether the use of this service violates laws and regulations applicable to members, internal rules of industry groups, etc. based on their own responsibility and expense. We do not guarantee that the use of this service will comply with applicable laws and regulations, or internal rules of industry associations.</p>
      <p>3. Even if links from our website to other websites or links from other websites to our website are provided, we are not responsible for websites other than our website and information obtained from them. No responsibility is assumed for any reason.</p>
      <p>4. The Company shall not be obligated to modify or modify the Service even if the equipment, equipment or software used by the Member is not suitable for the use of the Service.</p>
      <p>5. The Company shall not be liable for any damage caused by interruption, delay or cancellation of the system of this service due to performance degradation, failure or unauthorized access of communication lines, software, hardware, etc. .</p>
      <p>6. The Company shall not guarantee that emails and web contents sent from the Company in connection with the Service do not contain harmful items such as computer viruses.</p>
      <p>7. The Company may provide information and advice from time to time, but the Company shall not be liable for this.</p>
      <p>8. The Company shall not bear any costs for equipment and communication lines required for members to use the Service.</p>
      <p>9. The Company is not liable for any damages caused by members violating these Terms.</p>
      <p>10. The Company shall not make any guarantees regarding the transactions conducted by the members in this service, such as satisfying the members' wishes or usefulness.</p>
      <p>11. In addition to the above items, the Company and affiliated companies are not liable in principle for any damage caused to the member when using this service. However, if there is intention or gross negligence in the Company and the Company causes damage to the member, the Company guarantees up to the compensation for the transaction that caused the damage, up to the direct and normal damage that occurred to the member. To do.</p>
      <p>Article 10 (Prohibited Items)</p>
      <p>Members are prohibited from performing the following actions when using this service.</p>
      <p>1. Acts that violate these terms, laws, or other terms</p>
      <p>2. Any act that damages, infringes on, or may infringe on the rights or honor of the Company or a third party</p>
      <p>3. Impersonating another person and sending information to our company</p>
      <p>4. Acts that are or may be against public order and morals</p>
      <p>5. Sending or writing harmful computer programs etc.</p>
      <p>6. Lending, transferring or reselling passwords to third parties, or sharing with third parties</p>
      <p>7. An act of one member applying for multiple member registration</p>
      <p>8. Solicitation to organizations, services, and activities that the Company deems unrelated to this service</p>
      <p>9. All other actions that the Company deems inappropriate at the discretion of the Company</p>
      <p>10. Based on the information posted on this service, conduct transactions between members without going through this service</p>
      <p>12. Any other member's information obtained through this service may be used for purposes other than the use of this service or provided to third parties without the member's explicit consent</p>
      <p>Article 11 (Revocation of Membership)</p>
      <p>If we determine that a member falls under any of the following items,we will not permit the use of this service, and without prior notice,the member's membership will be revoked, withdrawal procedures,part of this service or We shall be able to suspend all usage,cancel transactions, and take other measures deemed necessary by the Company.</p>
      <p>The member cannot request the disclosure of the reason for this,and cannot file any objection, etc., and even if the member suffers damage or disadvantage,this exempts the Company, requests for compensation, etc. Shall not be charged at all.</p>
      <p>1. When violating this agreement, laws, etc. including the past</p>
      <p>2. Unauthorized use or use of password and this service</p>
      <p>3. When there is a false content, lack of, or there is a fear of the information of member registration</p>
      <p>4. When there is a problem with credit card credit</p>
      <p>5. If you belong to or have a relationship with an anti-social force or an organization that conducts anti-social activities</p>
      <p>6. When other member's information and contents are provided to a third party without prior consent</p>
      <p>7. In addition, if it is deemed appropriate for the Company to perform non-licensing etc. at the discretion of the Company</p>
      <p>Article 12 (Suspension / Suspension / Abolition of Services)</p>
      <p>The Company shall be able to suspend, cancel, or abolish all or part of the Service if it is caused by the following reasons. The Company shall not be liable for any damage caused to members or third parties due to this. In addition, when the Company suspends, cancels, or abolishes this service, it will notify the site in advance, but this is not the case in an emergency.</p>
      <p>1. Periodic or urgent maintenance or inspection of the system for providing this service</p>
      <p>2. When it becomes impossible to operate this service due to natural disasters, fires, power outages, etc.</p>
      <p>3. Unauthorized access to this service from third parties, harmful computer pros</p>
      <p>4. When this service cannot be provided due to measures based on laws and regulations</p>
      <p>5. In addition, when the Company determines that it is unavoidable</p>
      <p>Article 13 (Dispute Resolution)</p>
      <p>1. This site is a direct transaction between the guide and the guest regarding the registration service, and in the event of a dispute between the guide and the guest, both parties will resolve it. We are not responsible for any disputes between them.</p>
      <p>2. In addition to the preceding paragraph, if a member receives a claim from another member or other third party in connection with this service or a dispute arises with them, immediately notify the company of the contents In addition, the claim or dispute will be processed at the expense and responsibility of the member, and the progress and results shall be reported to the Company based on the request from the Company.</p>
      <p>3. In the event that the Company receives any request for infringement or other reasons from another member or other third party in connection with the use of the Service by the Member, the Member shall You have to compensate for the amount you have been forced to pay.</p>
      <p>Article 14 (Information Storage)
      <p>Even if messages and other information sent and received by members are stored for a certain period of time, we are not obligated to store such information, and we can delete such information at any time. . The Company shall not be liable for any damages caused to members based on measures taken by the Company under this section.</p>
      <p>Article 15 (Attribution of Rights)</p>
      <p>
        All ownership rights and intellectual property rights relating to the Site and the Service belong to the Company or a person who has licensed the Company. It does not imply that the intellectual property rights of this company or those who have licensed them to this service are used. Members may act for any reason that may infringe on the intellectual property rights of the Company or those who have licensed to the Company (including but not limited to disassembly, decompilation, reverse engineering) )).
      </p>
      <p>Article 16 (Personal Information)</p>
      <p>The Company shall manage the personal information of members in accordance with a separately defined privacy policy, and members agree to this. We may create and use statistical data in a format that cannot identify individuals based on the member's personal information.</p>
      <p>Article 17 (Advertisement)</p>
      <p>We may place advertisements deemed appropriate on this site at our discretion. The Company is not liable for any damages incurred to members and others by third party advertisements.</p>
      <p>Article 18 (Revision of this Agreement)</p>
      <p>
        The Company shall be able to stipulate terms and conditions that arbitrarily revise or supplement these terms without obtaining the member's consent. Unless otherwise specified by the Company, the revised Terms and Conditions shall become effective as soon as they are posted on the Site providing the Service. If a member uses this service after the change of this agreement has taken effect, or if he / she has not taken the procedure for canceling registration within the period specified by the Company, the member shall be deemed to have agreed to the changed agreement. Will be.
      </p>
      <p>Article 19 (Assignment of these Terms)</p>
      <p>1.Members shall transfer, transfer, and secure collateral to a third party for the contractual position between the Company and the member based on the Terms or the rights or obligations based on the Terms without prior written consent of the Company. , No other disposition can be done.</p>
      <p>
        2. If the Company assigns the business related to this service to another company, the status of the contract between the Company and the member based on this agreement, the rights and obligations based on this agreement, and the registered items of the member in accordance with the business assignment Other customer information may be transferred to the assignee of the business transfer, and the member shall have previously agreed to such transfer in this section. The business transfer set forth in this section shall include not only normal business transfer but also any company split or any other business transfer.
      </p>
      <p>Article 20 (Separability)</p>
      <p>
        Even if any provision of this agreement or part of it is determined to be invalid or unenforceable by the Consumer Contract Law or other laws and regulations, the remaining provisions and some of this agreement are invalid or unenforceable The remaining portion of the provisions determined to be in effect will continue to be fully effective, and the Company and its members will be required to make the invalid or unenforceable clause or part legal and enforceable. We shall revise and endeavor to ensure that the ineffective or unenforceable clauses or parts have the same purpose and are legally and economically equivalent.
      </p>
      <p>Article 21 (Governing Law, Court of Jurisdiction)</p>
      <p>The governing law of this agreement shall be Japanese law. Members and the Company shall make the Tokyo District Court the exclusive court of jurisdiction in the first instance for litigation related to these Terms.</p>
      <p>▼ Individual rules for guests</p>
      <p>In addition to these Terms, this “Individual Rules for Guests” shall apply to guests.</p>
      <p>1. Service</p>
      <p>
        This site only provides a system for conducting transactions between guides and guests, and guarantees the accuracy, truthfulness, validity of transactions, and legality of information provided by guides. However, we do not promise success or failure of the transaction. The guide is responsible for dealing with the guest. The guest acknowledges and agrees that the guide will charge the guest's credit card for the transaction price posted on this site (“transaction price”) as compensation for the registration service at the time of booking.
      </p>
      <p>2. Successful transaction</p>
      <p>The transaction is finalized when the guide approves the guest's reservation request and sends the information to us. Paypal Inc. and other services designated by the Company will be used for credit card payments for transactions conducted on this site.</p>
      <p>3. Transaction change / cancellation</p>
      <p>If a successful transaction is canceled, the guest may be charged a cancellation fee in accordance with our cancellation policy, depending on the timing of the cancellation. Please check the cancellation policy for more details.</p>
      <p>In addition, we are not obligated to investigate specifically whether the cancellation is due to the guide or the guest. The Company shall apply a cancellation policy depending on whether the party who has performed cancellation procedures through this service is a guest or a guide, and discussions between the guide and the guest will be made for responses to individual circumstances. We are not responsible for this.</p>
      <p>However, when refunding the transaction price by canceling or canceling the transaction, etc., in principle, the company will complete the refund procedure after 5-10 business days after the completion of the guest procedure by the method specified by the company, but each credit card company Refunds to guests may be delayed due to circumstances, etc., and guests acknowledge this beforehand.</p>
      <p>The guest understands in advance that the guide may cancel the transaction through this service even after the transaction is concluded, and cannot claim damages against the company for this.
      <p>In the event that a guest suffers damage due to the circumstances of the guide, the guest may acknowledge that the guest may not be able to claim damages against the guide beyond the transaction price in the transaction that caused the damage. will do. In any case, the Company is not obligated to take any recovery measures for damages caused to the guest other than those specified in the cancellation policy.</p>
      <p>4. Tax handling</p>
      <p>Consumption tax and other taxes on guests relating to this service shall be borne and processed by the guest's expense and responsibility, and the Company will not be involved in any way.</p>
      <p>5. Prohibition of transfer / resale</p>
      <p>It is forbidden to transfer or resell the rights and obligations based on the completed transaction and the contractual status of the transaction to a third party. If we determine that such actions are or are likely to occur, we may invalidate the transaction and not allow you to refund the transaction price. The Company is not liable for any problems that may arise when transactions are transferred or resold from a corporation or individual other than this site.</p>
      <p>6. Guest pledge to use this service</p>
      <p>When using this service, the guest shall guarantee and pledge the following contents, and if the contents of the following items are not accurate or true, the Company, members or other third parties suffer damage The guest shall be obligated to compensate for any damages.</p>
      <p>Thanks,</p>

      <p>Inquiry Window</p>
      <p>Requests for disclosure, opinions, questions, complaints, and other inquiries regarding the handling of personal information are accepted by telephone or e-mail to the following window.</p>
      <p>[User Counter]</p>
      <p>Customer support team</p>
      <p>Email address: **** @ ****</p>
      <p>(Reception hours: From 10:00 am to 7:00 pm on weekdays)</p>

    </div>

    <div class= "panel">
      <p class ="title-company">利用規約</p><br><br><br>
      <p>「」（以下、「本サイト」）のの体験のシェアをするためのマッチングシステムを提供するサービス（以下、「本サービス」）は、株式会社 （以下、「当社」）が提供するオンラインプラットフォームを利用して運営されています。本サイトおよびに本サービスは、以下の利用規約（以下、「本規約」）に基づいて提供されます。</p>

      <p>第１条（本規約の適用）</p>
      <p>本規約は、当社が運営する本サービスのすべてにおいて、会員と当社との間に適用されます。本サービスを利用することにより、会員は個別規定を含む本規約および個人情報保護方針の全ての項目に同意したものとします。</p>
      <p>第２条（使われる用語の定義）</p>
      <p>1.「会員」とは、本規約に同意の上、本サイトに会員登録をした個人および団体をいいます。</p>
      <p>2.「ガイド」とは、本サイトの会員の内、登録サービスの予約を受ける者のことをいいます。</p>
      <p>3.「ゲスト」とは、本サイトの会員の内、登録サービスの予約をする者のことをいいます。</p>
      <p>4.「登録サービス」とは、本サイトに登録されているガイドがゲストにオファーするサービスのことをいいます。</p>
      <p>5.「取引」とは、本サイトでゲストがガイドの登録サービスを予約することをいいます。</p>

      <p>第３条（会員資格・会員登録手続）</p>
      <p>本規約に同意の上、当社所定の会員登録手続をされた個人は、会員登録手続完了後に会員としての資格を有します。会員登録手続は、会員となる本人が行ってください。法人又は代理による会員登録は一切認められません。また、18歳未満の方は本サイトに会員登録できません。当社の裁量により、当社が相応しくないと判断した場合、会員登録をお断りする場合があります。</p>

      <p>その他、当社は、上記に基づき登録を申請した者が、以下の各号のいずれかの事由に該当する場合は、登録を拒否することがあります。</p>
      <p>(1) 本規約に違反するおそれがあると当社が判断した場合</p>
      <p>(2) 当社に提供された登録事項の全部又は一部につき虚偽、誤記又は記載漏れがあった場合</p>
      <p>(3) 過去に本サービスの利用の登録を取り消された者である場合</p>
      <p>(4) 未成年者、成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人､保佐人又は補助人の同意等を得ていなかった場合</p>
      <p>(5) 反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味する。以下同じ。）である、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与を行っていると当社が判断した場合</p>
      <p>(6) その他、当社が登録を適当でないと判断した場合</p>

      <p>第４条（会員情報の入力）</p>
      <p>会員登録手続では、必要な情報を虚偽なく正確に入力してください。</p>

      <p>第５条（パスワードの管理）</p>
      <p>パスワードは、他人に知られることがないよう、会員本人が責任をもって保管し、定期的に変更するなど適切な管理を行なって下さい。入力されたメールアドレスやパスワードが会員登録されたものと一致することを当社の所定の方法により確認した場合、会員本人による利用があったものとみなし、それらが盗用、不正使用その他の事情により会員本人以外の者が利用している場合であっても、それにより生じた損害等について当社は一切の責任を負いません。</p>

      <p>第６条（会員登録情報の変更）</p>
      <p>登録した情報に変更が生じた場合は、当社所定の方法により、会員本人が直ちに変更の手続き行なって下さい。登録内容の変更が、会員本人により適切になされなかったことにより生じた損害等について当社は一切の責任を負いません。また、変更がなされた場合でも、変更の登録前に開始された取引は変更登録前の情報に基づいて行われます。</p>

      <p>第７条（本サービスの内容）</p>
      <p>1. 会員は、有効に会員として登録されている期間内に限り、本規約の目的の範囲内でかつ本規約に違反しない範囲内で、当社の定める方法に従い、本サービスを利用することができます。</p>

      <p>第８条（会員の退会）</p>
      <p>会員が退会を希望する場合、当社所定の方法にて速やかに退会手続を行うこととします。所定の退会手続が完了した後、退会となります。</p>

      <p>第９条（免責事項</p>
      <p>1. 当社は、会員同士が旅行体験等のシェアに関する情報をやりとりし、マッチングをするためのシステムを提供するものにすぎず、如何なる場合も当社、所属企業は取引の当事者となるものではなく、登録されている情報について瑕疵担保責任その他一切の責任を負うものではありません。</p>
      <p>2. 会員は、本サービスを利用することが、会員に適用のある法令、業界団体の内部規則等に違反するか否かを自己の責任と費用に基づいて調査するものとし、当社は、会員による本サービスの利用が、会員に適用のある法令、業界団体の内部規則等に適合することを何ら保証するものではありません。</p>
      <p>3. 当社ウェブサイトから他のウェブサイトへのリンク又は他のウェブサイトから当社ウェブサイトへのリンクが提供されている場合でも、当社は、当社ウェブサイト以外のウェブサイト及びそこから得られる情報に関して如何なる理由に基づいても一切の責任を負わないものとします。</p>
      <p>4. 当社は会員が使用する機器、設備またはソフトウェアが本サービスの利用に適さない場合であっても、本サービスの改変、修正を行う義務を負わないものとします。</p>
      <p>5. 通信回線、ソフトウェア、ハードウェアなどのパフォーマンスの低下、障害、不正アクセスにより、本サービスのシステムの中断・遅延・中止等によって生じたいかなる損害についても、当社は一切責任を負わないものとします。</p>
      <p>6. 当社は、本サービスに関連して当社から送られる電子メール及びウェブコンテンツに、コンピューターウィルス等の有害なものが含まれていないことを保証しないものとします。</p>
      <p>7. 当社は、会員に対し適宜情報提供や助言を行うことがありますが、それにより当社は責任を負わないものとします。</p>
      <p>8. 当社は、会員が本サービスを利用する際に必要とする設備や通信回線の費用について、一切負担しないものとします。</p>
      <p>9. 会員が本規約等に違反したことによって生じた損害については、当社は一切責任を負いません。<p>
      <p>10. 当社は、本サービスで会員が行った取引について、その内容が会員の希望を満たすこと、有用であること等、一切の保証をしないものとします。</p>
      <p>11. 上記の各項目の他、本サービスの利用にあたって会員に生じた一切の損害について当社、所属企業は、原則、責任を負いません。但し、当社に故意または重過失があり、これにより当社が会員に損害を与えた場合、当社は会員について発生した直接かつ通常の損害に限り、当該損害の原因となった取引の対価を上限として保証します。</P>


      <p>第１０条（禁止事項）</p>
      <p>会員は、本サービスを利用するにあたり、以下の各行為をすることを禁止します。<p>

      <p>1. 本規約、法令、または他の規約等に違反する行為</p>
      <p>2. 当社または第三者の権利、名誉等を損ねる、侵害する、またはそのおそれのある行為</p>
      <p>3. 他人になりすまして、当社に情報等を送信する行為</p>
      <p>4. 公序良俗に反する、またはそのおそれのある行為</p>
      <p>5. 有害なコンピュータープログラム等を送信、または書き込む行為</p>
      <p>6. パスワードを第三者に貸与・譲渡・転売すること、または第三者と共用する行為</p>
      <p>7. １会員が複数の会員登録申込を行う行為</p>
      <p>8. 本サービスとは関係がないと当社の判断する団体やサービス、活動への勧誘行為</p>
      <p>9. その他、当社の裁量により、当社が不適切と判断する全ての行為</p>
      <p>10. 本サービスに掲載されている情報をもとに、本サービスを通さずに会員同士で取引をする行為</p>
      <p>12. 本サービスを通じて知りえた他の会員の情報を、当該会員の明示的な承諾なくして、本サービスの利用以外の目的で利用又は第三者に提供する行為<</p>

      <p>第１１条（会員資格の取消）</p>
      <p>会員が以下各号のいずれかに該当すると、当社が判断した場合、本サービスの利用を許諾せず、事前に通知することなく当該会員の会員資格の取消、退会処置、本サービスの一部または全部の利用停止、取引の取消その他、当社が必要と判断する措置を行えるものとします。会員はこれに対して理由の開示を求めることおよび、一切の異議の申立て等を行うことはできず、これにより会員は損害または不利益を被ったとしても、当社を免責し、賠償請求その他の一切の請求を行わないものとします。<p>
      <p>1. 過去を含め、本規約、法令等に違反したとき</p>
      <p>2. パスワードおよび本サービスを不正に使用、または使用させたとき</p>
      <p>3. 会員登録の情報に虚偽の内容、不足があった、またはそのおそれがあるとき</p>
      <p>4. クレジットカードの与信に問題が生じたとき</p>
      <p>5. 反社会勢力もしくは反社会的活動を行う団体に所属、またはこれらと関係を有するとき</p>
      <p>6. 他の会員の情報やコンテンツを事前同意なく、第三者に提供した場合</p>
      <p>7. その他、当社の裁量により、当社が不許諾等を行うのが相当と判断した場合</p>

      <p>第１２条（サービスの停止・中止・廃止）</p>
      <p>当社は、以下各号の事由に起因する場合、本サービスの全部または一部を停止・中止・廃止できるものとします。これに起因して、会員または第三者に損害が発生した場合、当社は一切の責任を負わないものとします。また、当社は本サービスを停止・中止・廃止を行う場合、事前にサイト上でその旨を通知するものとしますが、緊急の場合は、この限りではありません。<p>
      <p>1. 定期的または緊急に本サービス提供のためのシステムの保守または点検を行うとき</p>
      <p>2. 天災、火災、停電等の非常事態により本サービスの運営をすることが不可能となったとき</p>
      <p>3. 第三者からの本サービスへの不正アクセス、有害なコンピュータープログラム等により、本サービスの提供ができないとき</p>
      <p>4. 法令等に基づく措置により本サービスが提供できないとき</p>
      <p>5. その他、当社がやむを得ないと判断したとき</p>

      <p>第１３条（紛争処理）</p>
      <p>1. 本サイトは、登録サービスについてガイドとゲストの間で直接取引が成立するものであり、ガイドとゲストの間に紛争が生じた場合は両当事者において解決するものとし、当社はガイドとゲストの間の紛争について一切責任を負うものではありません</p>。
      <p>2. 前項に加え、会員が、本サービスに関連して他の会員その他の第三者からクレームを受け又はそれらの者との間で紛争を生じた場合には、直ちにその内容を当社に通知するとともに、会員の費用と責任において当該クレーム又は紛争を処理し、当社からの要請に基づき、その経過及び結果を当社に報告するものとします。</p>
      <p>3. 会員による本サービスの利用に関連して、当社が、他の会員その他の第三者から権利侵害その他の理由により何らかの請求を受けた場合は、会員は当該請求に基づき当社が当該第三者に支払を余儀なくされた金額を賠償しなければなりません。</p>

      <p>第１４条（情報の保存）</p>
      <p>当社は、会員が送受信したメッセージその他の情報を運営上一定期間保存していた場合であっても、かかる情報を保存する義務を負うものではなく、当社はいつでもこれらの情報を削除できるものとします。なお、当社は本条に基づき当社が行った措置に基づき会員に生じた損害について一切の責任を負いません。</p>

      <p>第１５条（権利帰属）</p>
      <p>本サイト及び本サービスに関する所有権及び知的財産権は全て当社又は当社にライセンスを許諾している者に帰属しており、本規約に定める登録に基づく本サービスの利用許諾は、当社ウェブサイト又は本サービスに関する当社又は当社にライセンスを許諾している者の知的財産権の使用許諾を意味するものではありません。会員は、いかなる理由によっても当社又は当社にライセンスを許諾している者の知的財産権を侵害するおそれのある行為（逆アセンブル、逆コンパイル、リバースエンジニアリングを含みますが、これに限定されません。）をしないものとします。</p>

      <p>第１６条（個人情報）</p>
      <p>当社は、別途定めるプライバシーポリシーに従い、会員の個人情報を管理するものとし、会員はこれに同意します。当社は会員の個人情報をもとに、個人を特定できない形式による統計データを作成し、利用することがあります。</p>

      <p>第１７条（広告の掲載）</p>
      <p>当社は、当社の裁量において、本サイトに適切と判断される広告を掲載することができます。本サイトに掲載される広告によって、会員等および第三者に生じる損害等に関して、当社は一切の責任を負いません。</p>

      <p>第１８条（本規約の改定）</p>
      <p>当社は、会員の同意を得ることなく本規約を任意に改定、または補充する規約を定めることができるものとします。変更後の本規約は、当社が別途定める場合を除いて、本サービスを提供する本サイトに掲示された時点よりその効力を生じるものとします。会員が本規約の変更の効力が生じた後に本サービスを利用する場合、又は当社の定める期間内に登録取消の手続をとらなかった場合には、会員は変更後の規約に同意したものとみなされます。</p>

      <p>第１９条（本規約の譲渡等）</p>
      <p>1.会員は、当社の書面による事前の承諾なく、本規約に基づく当社と会員の間の契約上の地位又は本規約に基づく権利若しくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。</p>
      <p>2.当社は本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い本規約に基づく当社と会員の間の契約上の地位、本規約に基づく権利及び義務並びに会員の登録事項その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、会員は、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。</p>

      <p>第２０条（分離可能性）</p>
      <p>本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有し、当社及び会員は、当該無効若しくは執行不能の条項又は部分を適法とし、執行力を持たせるために必要な範囲で修正し、当該無効若しくは執行不能な条項又は部分の趣旨並びに法律的及び経済的に同等の効果を確保できるように努めるものとします。</p>

      <p>第２１条（準拠法、管轄裁判所）</p>
      <p>本規約の準拠法は日本法とします。会員と当社は、本規約に関連する訴訟について、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>

      <p>▼ゲスト向け個別規定</p>
      <p>ゲストについては、本規約のほか、この「ゲスト向け個別規定」が適用されるものとします。</p>
      <p>1. サービス</p>
      <p>本サイトは、ガイドとゲストとの間で取引を行うためのシステムを提供するものにすぎず、ガイドの提供する情報の正確性、真実性、取引の内容の妥当性、適法性を保証するものではなく、また、取引の成否をお約束するものではありません。ガイドの方は自らの責任でゲストの方と取引を行ってください。ゲストは、ガイドがゲストのクレジットカードに、予約時における登録サービスの対価として、本サイトに掲示された取引代金（以下、「取引代金」）の請求を行うことを了承しこれに同意します。</p>
      <p>2. 取引の成立</p>
      <p>ゲストの予約リクエストをガイドが承認し、その情報が当社に送信された時点で取引が成立します。本サイトで行われる取引のクレジットカード決済は、Paypal Inc.その他当社が指定したサービスを利用することとします。</p>
      <p>3. 取引の変更・キャンセル</p>
      <p>成立した取引がキャンセルされた場合、キャンセルのタイミングに応じて、ゲストに当社所定のキャンセルポリシーに従い、キャンセル料が発生する場合があります。詳しくは、キャンセルポリシーをご確認ください。</p>
      <p>また、当社はキャンセルの事情がガイドの事情によるかゲストの事情によるか具体的に調査する義務を負うものではありません。当社は、本サービスを通じてキャンセル手続を行った当事者がゲストであるか、ガイドであるかにより、キャンセルポリシーを適用するものとし、個別の事情に応じた対応については、ガイドとゲストの間での話し合いにより解決することとし、当社はこれについて一切責任を負いません。</p>
      <p>ただし、取引のキャンセル又は中止等により取引代金の払い戻しを行う場合、当社の定める方法によるゲストの手続完了後、原則として当社は5〜10営業日後に返金手続が完了しますが、各クレジットカード会社等の事情により、ゲストへの払い戻しが遅くなる場合があり、ゲストは予めこれを了承するものとします。</p>
      <p>ゲストは、取引成立後においても、ガイドが本サービスを通じて取引をキャンセルする場合があることをあらかじめ了解し、これについて当社に対して損害賠償請求をすることができないものとします。</p>
      <p>ガイドの事情によりゲストが損害を被った場合において、当該損害の原因となった取引における取引代金以上にはゲストからガイドに対して損害賠償請求をすることができない場合があることを予め了承するものとします。なお、いかなる場合も、当社は、キャンセルポリシーに定める内容以外に、ゲストに生じた損害についての損害回復措置をとる義務を負うものではありません。</p>
      <p>4. 税金の取扱い</p>
      <p>本サービスに関してゲストにかかる消費税その他の税金については、ゲストの費用と責任でこれを負担及び処理するものとし、当社は一切関知するものではありません。</p>
      <p>5. 譲渡・転売の禁止</p>
      <p>成立した取引に基づく権利及び義務、並びに取引の契約上の地位を、第三者に譲渡または転売をすること禁止されています。それらの行為が行われている、または行われるおそれがあると当社が判断した場合、取引を無効とし、取引代金の払い戻しを認めない場合があります。当社は本サイト以外の法人や個人から取引を譲渡された、または転売された場合の問題については一切の責任を負いません。</p>
      <p>6. 本サービスの利用にあたってのゲストの誓約事項</p>
      <p>ゲストは本サービスの利用にあたり、以下の内容を保証及び誓約するものとし、以下の各号の内容が正確又は真実ではなかったことにより、当社、会員その他の第三者が損害を被った場合は、ゲストはその損害の一切を賠償する義務を負うものとします。</p>

      <p>以上</p>

      <p>お問い合せ窓口</p>
      <p>開示等のお申出、ご意見、ご質問、苦情、その他個人情報の取扱いに関するお問い合せは、以下の窓口への電話又はメールにて受け付けております。</p>

      <p>【ユーザー窓口係】</p>
      <p>カスタマーサポートチーム</p>
      <p>メールアドレス：　****@****</p>
      <p>（受付時間: 平日午前10時から午後7時まで）</p>
    </div>

 </div>
 </body>
 </html>
