<!DOCTYPE html>

<html>

<tbody>
<div class ="wrap">



<section class ="top-wrapper">
 <h1 class ="lead">E<span>N</span>JOY JAPA<span>N</span>ESE <span>N</span>IGHT WITH GUIDES</h1>
 <div href ="" class ="circle"><span>ALL GUIDES FREE ONLY NOW</span></div>
 <btn class ="btn-one" ><%= link_to 'SIGNUP', new_g_info_path %></btn>
 <btn class ="btn-one"><%= link_to 'LOGIN' ,'http://localhost:3000/login' %></btn>
</section>


<section class = "guide-wrapper">
 <div class="pointer">
   <img src ="assets/bottle_b.png" class = "wine-ill"></img>
   Night Guides Here !!<i class="far fa-hand-pointer"></i>
 </div>
 <div href="" class="area-search">AREASEARCH</div>
 <section class = "area-tag-wrapper">
  <a href="" class = "area-tag">#Roppongi~ Azabu~ Akasaka</a>
  <a href="" class = "area-tag">#Shinjyuku~ Ikebukuro</a>
  <a href="" class = "area-tag">#Shibuya~ Ebis~ Meguro</a>
  <a href="" class = "area-tag">#Ginza~Tokyo Station</a>
  <a href="" class = "area-tag">#Akihabara~ Ueno~ Asakusa</a>
  <a href="" class = "area-tag">#Others</a>
 </section>

 <h3><span>ALL GUIDES</span></h3>
 <i class="fas fa-angle-double-right"><a></a></i>

 <article class ="guide-index">
  <div class ="guide">
   <h4 class ="guide-area-tag">#Shinjyuku</h4>
   <img src = "assets/face-icon_3.jpg" class ="face-icon"></img>
   <img src = "assets/izakaya.jpg" class ="photo"></img>
   <h4 class ="guide-name">Mocci</h4>
   <h4 class ="review">★★★★★</h4>
   <h4 class ="one-message">I love bar hopping!Live in Shinjyuku & I can take you to Japanese original bar.</h4>
   <figcaption>
    <p>ASK TO GUIDE</p>
   </figcaption><a href="#"></a>
  </div>
  <div class ="guide">
   <h4 class ="guide-area-tag">#Shinjyuku</h4>
   <img src = "assets/face-icon_3.jpg" class ="face-icon"></img>
   <img src = "assets/izakaya.jpg" class ="photo"></img>
   <h4 class ="guide-name">Mocci</h4>
   <h4 class ="review">★★★★★</h4>
   <h4 class ="one-message">I love bar hopping!Live in Shinjyuku & I can take you to Japanese original bar.</h4>
   <figcaption>
    <p>ASK TO GUIDE</p>
   </figcaption><a href="#"></a>
  </div>
  <div class ="guide">
   <h4 class ="guide-area-tag">#Shinjyuku</h4>
   <img src = "assets/face-icon_3.jpg" class ="face-icon"></img>
   <img src = "assets/izakaya.jpg" class ="photo"></img>
   <h4 class ="guide-name">Mocci</h4>
   <h4 class ="review">★★★★★</h4>
   <h4 class ="one-message">I love bar hopping!Live in Shinjyuku & I can take you to Japanese original bar.</h4>
   <figcaption>
    <p>ASK TO GUIDE</p>
   </figcaption><a href="#"></a>
  </div>
  <div class ="guide">
   <h4 class ="guide-area-tag">#Shinjyuku</h4>
   <img src = "assets/face-icon_3.jpg" class ="face-icon"></img>
   <img src = "assets/izakaya.jpg" class ="photo"></img>
   <h4 class ="guide-name">Mocci</h4>
   <h4 class ="review">★★★★★</h4>
   <h4 class ="one-message">I love bar hopping!Live in Shinjyuku & I can take you to Japanese original bar.</h4>
   <figcaption>
    <p>ASK TO GUIDE</p>
   </figcaption><a href="#"></a>
  </div>
  <div class ="guide">
   <h4 class ="guide-area-tag">#Shinjyuku</h4>
   <img src = "assets/face-icon_3.jpg" class ="face-icon"></img>
   <img src = "assets/izakaya.jpg" class ="photo"></img>
   <h4 class ="guide-name">Mocci</h4>
   <h4 class ="review">★★★★★</h4>
   <h4 class ="one-message">I love bar hopping!Live in Shinjyuku & I can take you to Japanese original bar.</h4>
   <figcaption>
    <p>ASK TO GUIDE</p>
   </figcaption><a href="#"></a>
  </div>
  <div class ="guide">
   <h4 class ="guide-area-tag">#Shinjyuku</h4>
   <img src = "assets/face-icon_3.jpg" class ="face-icon"></img>
   <img src = "assets/izakaya.jpg" class ="photo"></img>
   <h4 class ="guide-name">Mocci</h4>
   <h4 class ="review">★★★★★</h4>
   <h4 class ="one-message">I love bar hopping!Live in Shinjyuku & I can take you to Japanese original bar.</h4>
   <figcaption>
    <p>ASK TO GUIDE</p>
   </figcaption><a href="#"></a>
  </div>
  <div class ="guide">
   <h4 class ="guide-area-tag">#Shinjyuku</h4>
   <img src = "assets/face-icon_3.jpg" class ="face-icon"></img>
   <img src = "assets/izakaya.jpg" class ="photo"></img>
   <h4 class ="guide-name">Mocci</h4>
   <h4 class ="review">★★★★★</h4>
   <h4 class ="one-message">I love bar hopping!Live in Shinjyuku & I can take you to Japanese original bar.</h4>
   <figcaption>
    <p>ASK TO GUIDE</p>
   </figcaption><a href="#"></a>
  </div>
  <div class ="guide">
   <h4 class ="guide-area-tag">#Shinjyuku</h4>
   <img src = "assets/face-icon_3.jpg" class ="face-icon"></img>
   <img src = "assets/izakaya.jpg" class ="photo"></img>
   <h4 class ="guide-name">Mocci</h4>
   <h4 class ="review">★★★★★</h4>
   <h4 class ="one-message">I love bar hopping!Live in Shinjyuku & I can take you to Japanese original bar.</h4>
   <figcaption>
    <p>ASK TO GUIDE</p>
   </figcaption><a href="#"></a>
  </div>
  <div class ="guide">
   <h4 class ="guide-area-tag">#Shinjyuku</h4>
   <img src = "assets/face-icon_3.jpg" class ="face-icon"></img>
   <img src = "assets/izakaya.jpg" class ="photo"></img>
   <h4 class ="guide-name">Mocci</h4>
   <h4 class ="review">★★★★★</h4>
   <h4 class ="one-message">I love bar hopping!Live in Shinjyuku & I can take you to Japanese original bar.</h4>
   <figcaption>
    <p>ASK TO GUIDE</p>
   </figcaption><a href="#"></a>
  </div>

 </article>

 <i class="fas fa-angle-double-right"><a></a></i>

</section >



</div>
</tbody>
</html>
