<html>
<head>
<meta charset="utf-8">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    "header_footer","basic_parts","btn_ill_parts","text","wrapper","media", :media => "all" %>
</head>
<tbody>
<div class ="wrap">

 <div class ="news-room">
  <h3 class ="title-news">お知らせ</h3>
  <div><i class="fas fa-angle-double-right"><a></a></i></div>
  <section class ="news-wrapper">
   <article class ="news">
    <h3 class ="news-headline">ガイド登録が完了しました<h3>
   </article>
   <article class ="news">
    <h3 class ="news-headline">ガイド登録が完了しました<h3>
   </article>
   <article class ="news"></article>
   <article class ="news"></article>
   <article class ="news"></article>
  </section>
  <div><i class="fas fa-angle-double-right"><a></a></i></div>
 </div>

</div>
</tbody>
</html>
