@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);

.pace-running .wrap {
  display:none;
}

body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   background-color: #e6ecf0;　/*#ADD8E6*/
}

p {
  text-align: left;
  color: rgb(164, 179, 239);
}

li, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


background-image {
   width: 100%;
   height: 500px;
}

h1, h2, .guide figcaption {
  font-family: 'Poiret One', cursive, 'Kosugi Maru', sans-serif;
  color: rgb(164, 179, 239);
  text-align: center;
}

h3, h4, h5, h6, .login, .header-username, .mypagecommand, .fa-angle-double-right, .guide, .guideinfo, .myinfo-label, .face-message, .myarea-info, .dropdown-content, .dropdown-content-header, .guide-area-tag-input, .chat-delete {
  font-family: 'Quicksand', sans-serif,  'Kosugi Maru', sans-serif;
  color: rgb(164, 179, 239);
  text-align: center;
}

.mypagecommand, .header-username, .login, h1 span {
 color: rgb(197,253,255);
}


h2 span {
  color: rgb(197,253,255);
}

h3 span {
  width: 95%;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(8, 12, 214, 0.5);
  letter-spacing: 5px;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  padding: 15px;
  margin: 10px auto;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  z-index: 100;
}

h4 span {

  color:r　gb(197,253,255);
  color:rgb(164, 179, 239);
  font-size: 20px;
}

footer ul {
line-height: 30px;
}

::placeholder {
  color: rgb(238, 238, 238);
}

#img_field {
  width: 330px;
  height: 220px;
  margin-bottom: 5px;
  font-size: 15px;
  border: solid 1px rgb(164, 179, 239);
  color: #666;
  position: relative;
  display: inline-block;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  z-index: 10;
  background-color: rgb(236, 236, 236);
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 20px 20px;
}

#img_field i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 100px;
  color: #aaaaaa69;
  line-height: 230px;
  width: 330px;
  transition: 0.3s ease-out;
}

#img_field :hover, #face_img_field :hover {
  color: white;
  background-image: linear-gradient(-225deg, rgba(38,87,235,0.8) 10%, rgba(110, 222, 239, 0.8) 80%);
  transition: 0.3s ease-out;
  opacity: 0.7;
}

#img_field :hover i, #face_img_field :hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

#face_img_field  {
  height: 200px;
  width: 200px;
  margin: 10px auto;
  position: relative;
  border-radius: 50%;
  border: 1px solid;
  border-color: rgb(164, 179, 239);
  display: block;
  background-color: rgb(236, 236, 236);
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 20px 20px;
}

#face_img_field i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 200px;
  color: #aaaaaa69;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: 0.3s ease-out;
}

.face_preview {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid;
  border-color: rgb(164, 179, 239);
  z-index:
}


input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, .myinfo-big:focus {
  border-color: dodgerBlue !important;
  box-shadow: 0 0 8px 0 dodgerBlue !important;
}

input:-internal-autofill-selected {
  background-color: white;
}

input:-webkit-autofill {
  -webkit-text-fill-color: rgb(164, 179, 239);
  -webkit-box-shadow: 0 0 0 1000px white inset;
  border-color:rgb(164, 179, 239);
  font-size: 20px;
  background-color: white;
}

.myinfo_basic, .myinfo, .myinfo_basic_age, input:-internal-autofill-selected {
  color: rgb(76, 114, 226);
  border: solid 1px rgb(76, 114, 226);
  width: 20em;
  font-family: 'Quicksand', sans-serif, 'Kosugi Maru', sans-serif;
  height: 50px;
  font-size: 20px!important;
  border-radius: 5em;
  margin: 10px auto;
  outline: none;
  padding: 10px 20px 10px 20px;
  position: relative;
  display: block;
  box-sizing: border-box;
  transition: 0.3s;
  text-align: left;
  z-index: 10;
}

.myinfo {
  width: 30em;
}

.myinfo_basic_age {
  width: 4em;
  text-align: center;
}

.myinfo-big {
  font-family: 'Quicksand', sans-serif, 'Kosugi Maru', sans-serif;
  height: 200px;
  width: 30em;
  text-align: left;
  padding: 20px;
  font-size: 20px;
  margin: 10px auto;
  border-radius: 20px;
  border: 1px solid;
  z-index: 10;
}

.radio_btn {
  display: none;
}

.radio_btn + label, .myinfo_radio {
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif, 'Kosugi Maru', sans-serif;
  font-size: 1em;
  font-weight: normal;
  margin: 10px auto;
  padding: 10px;
  color: rgb(76, 114, 226);
  border: solid 1px rgb(76, 114, 226);
  border-radius: 5em;
  background-color: #fff;
  cursor: pointer;
}

.radio_btn:checked + label, .myinfo_radio {
  color: #fff;
  background-color: rgb(76, 114, 226);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  z-index: 990;
}
