@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);

.pace-running .wrap {
  display:none;
}

body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   background-color: #ADD8E6;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


background-image {
   width: 100%;
   height: 500px;
}

h1, h2, .guide figcaption {
  font-family: 'Poiret One', cursive, 'Kosugi Maru', sans-serif;
  color: rgb(164, 179, 239);
  text-align: center;
}

h3, h4, h5, h6, .login, .header-username, .mypagecommand, .fa-angle-double-right, .guide, .guideinfo, .myinfo-label, .myinfo-big, .face-message, .myarea-info, .dropdown-content, .dropdown-content-header, .guide-area-tag-input, .chat-delete {
  font-family: 'Quicksand', sans-serif,  'Kosugi Maru', sans-serif;
  color: rgb(164, 179, 239);
  text-align: center;
}

.mypagecommand, .header-username, .login, h1 span {
 color: rgb(197,253,255);
}


h2 span {
  color: rgb(197,253,255);
}

h3 span {
  width: 95%;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(8, 12, 214, 0.5);
  letter-spacing: 5px;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  padding: 15px;
  margin: 10px auto;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  z-index: 100;
}

h4 span {

  color:r　gb(197,253,255);
  color:rgb(164, 179, 239);
  font-size: 20px;
}

footer ul {
line-height: 30px;
}

::placeholder {
  color: rgb(238, 238, 238);
}
