// Place all the styles related to the Guides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

body {
  margin: 0;
}
header {
  height: 50px;
  width: 100%;
  background: rgba(222,97,127,0);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(38,87,235,0), rgba(222,97,190,0));  /* Chrome 10-25, Safari 5.1-6 */
  background: -ms-linear-gradient(to right, rgba(38,87,235,0), rgba(222,97,190,0));
  background: linear-gradient(to right, rgba(38,87,235,0), rgba(222,97,190,0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: center;
  margin: 0;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  display: flex;
  justify-content: space-between;
  left:0;
  position:fixed;
  top:0;
  z-index:24;
}

ul {
  height: 50px;
  padding-left: 40px;

}

.logo {
  font-family: 'Righteous', cursive;
  font-size: 36px;
  text-align: left;
  color: white;
  letter-spacing: 10px;
  margin: 0;
}

.logo span {
  color: rgba(197,253,255,0);
}

.signup {
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  color: white;
  vertical-align: middle;
  margin: 0;
  padding-right: 36px;
  background-color: rgba(255,255,255,0.3);
}

.top-wrapper {
  width: 100%;
  height: 300px;
  padding: 50px;
  background-image: -webkit-linear-gradient(-225deg, rgba(38,87,235,0.7) 10%, rgba(222,97,190,0.7) 80%), url(image/topimage.jpg);
  background-image: linear-gradient(-225deg, rgba(38,87,235,0.7) 10%, rgba(222,97,190,0.7) 80%), url(image/topimage.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  text-align: center;
  display: inline-block;
  border-bottom-right-radius: 2000px 300px;
  border-bottom-left-radius: 2000px 300px;
  margin-left: -200px;
  margin-right: -200px;
  padding-left: 200px;
  padding-right: 200px;
}



background-image {
   width: 100%;
   height: 500px;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  color:white;
  letter-spacing: 10px;
}

h1 span {
  color: rgba(197,253,255,0);
}

.circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: absolute;
  top: 240px;
  left: 60px;
  display: inline-block;
  background: linear-gradient(to bottom, rgba(240, 204, 255, 0.7), rgba(204, 255, 213, 0.7));
}

.circle span {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  color: white;
  position: relative;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width :150px;
  text-align:center;
}


.btn-one {
  font-family: 'Lato', sans-serif;
  width: 300px;
  height: 70px;
  margin: 30px;
  color: #FFF;
  font-size: 26px;
  font-weight: bold;
  line-height: 70px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 5em;
  outline: 2px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}

.btn-one:hover {
  border-color: #FFF;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 2px 2px 3px #000;
}

.guide-wrapper {
  width: 90%;
  height: 1500px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px;
  box-shadow: 0 0 10px 8px lightgray;
}

.area-btn {
  font-family: 'Lato', sans-serif;
  width: 300px;
  height: 70px;
  margin: 80px;
  color: rgba(161, 175, 204,0);
  font-size: 26px;
  font-weight: bold;
  line-height: 70px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 5em;
  outline: 2px solid;
  outline-color: rgba(161, 175, 204,0);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}

.area-btn:hover {
  border-color: #FFF;
  box-shadow: inset 0 0 20px rgba(161, 175, 204,0), 0 0 20px rgba(161, 175, 204,0);
  outline-color: transparent;
  outline-offset: 12px;
}

.area-tag {
  font-family:  'Lato', sans-serif;
  font-size: 30px;
  color: rgba(161, 175, 204,0);
  margin: 30px;
  display: inline-block;
}

.guide-index {
  text-align: center;
  width: 30%;
  height:480px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(226, 226, 226,0);
  display:inline-flex;
}
