A@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);

.register-form {
  width: 90%;
  height: 900px;
  text-align: center;
  color: rgb(161, 175, 204);
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 10px 8px lightgray;
}

.register-form2 {
  width: 90%;
  height: 5000px;
  text-align: center;
  color: rgb(161, 175, 204);
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 10px 8px lightgray;
}

.register-form3 {
  width: 90%;
  height: 7000px;
  text-align: center;
  color: rgb(161, 175, 204);
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 10px 8px lightgray;
}

.upload-btn2 {
  width: 150px;
  font-size: 14px;
  color: white;
  margin: 2px;
  padding: 5px;
  text-align: center;
  background-image: -webkit-linear-gradient(-225deg, rgba(38,87,235,0.8) 10%, rgba(110, 222, 239, 0.8) 80%));
  background-image: linear-gradient(-225deg, rgba(38,87,235,0.8) 10%, rgba(110, 222, 239, 0.8) 80%);
  border-radius: 5em;
  display: inline-block;
  cursor: pointer;
}

.submit-btn2 {
  width: 100px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-image: -webkit-linear-gradient(-225deg, rgba(38,87,235,0.8) 10%, rgba(222,97,190,0.8) 80%));
  background-image: linear-gradient(-225deg, rgba(38,87,235,0.8) 10%, rgba(222,97,190,0.8) 80%);
  border-radius: 5em;
}

.submit-btn2:active {
  color: rgb(197,253,255);
}

.proceed-btn {
  width: 200px;
  height: 30px;
  font-size: 20px;
  color: white;
  margin: 60px auto;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  background-image: -webkit-linear-gradient(-225deg, rgba(38,87,235,0.8) 10%, rgba(222,97,190,0.8) 80%));
  background-image: linear-gradient(-225deg, rgba(38,87,235,0.8) 10%, rgba(222,97,190,0.8) 80%);
  border-radius: 5em;
  cursor: pointer;
}

.upload-btn1 {
  width: 150px;
  font-size: 26px;
  color: white;
  margin: 2px;
  padding: 5px;
  text-align: center;
  background-image: -webkit-linear-gradient(-225deg, rgba(38,87,235,0.8) 10%, rgba(110, 222, 239, 0.8) 80%));
  background-image: linear-gradient(-225deg, rgba(38,87,235,0.8) 10%, rgba(110, 222, 239, 0.8) 80%);
  border-radius: 5em;
  display: inline-block;
  cursor: pointer;
}
