  @import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);


  .lead, .btn-one, .circle span, .circle-b span, .pointer, .area-search, .area-tag, h3 span, .footer-wrapper{
    font-family: 'Poiret One', cursive, 'Kosugi Maru', sans-serif;
  }

  .one-message, .sb-line3.sb-left, .sb-line3.sb-right, .Q, .A, .radio-form {
    font-family: 'Quicksand', sans-serif, 'Kosugi Maru', sans-serif;
    color: rgb(164, 179, 239);
  }

  .lead {
    width: 1300px;
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    color: white;
    letter-spacing: 20px;
    line-height: 70px;
    margin: 100px auto 60px;
    padding: 15px;
    box-sizing: border-box;
    z-index: 9999;
    }

  .lead4guide {
    width: 60%;
    font-weight: lighter;
    font-size: 20px;
    color: white;
    letter-spacing: 11px;
    margin: 0 auto;
  }

  .guide-area-tag {
    width: 80%;
    text-align: center;
    font-size: 18px;
    margin: 15px auto;
  }

  .guide-name {
    position: relative;
    font-size: 18px;
    margin: 2px;
  }

  .review {
    margin: 0 auto;
    font-size: 15px;
  }

  .one-message {
    position: relative;
    font-size: 15px;
    font-weight: lighter;
    width: 80%;
    text-align: left;
    margin: 0 auto;
  }


  .face-message {
    font-size: 13px;
    color: rgb(161, 175, 204);
  }

  .myinfo-label {
    width: 80%;
    text-align: left;
    font-size: 18px;
    margin: 30px 10% 0;
    display: block;
    position: relative;
    z-index: 10;
    color: rgb(164, 179, 239);
  }

  .myinfo {
    color: rgb(164, 179, 239);
  }


  .chatroom-names {
    position: relative;
    margin: 10px auto;
    width: 88%;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }

.chatroom-name, .chatroom-name2 {
    display:inline-block;
}


  .news-headline {
    text-align: left;
    padding:7px;
    margin: 0;
    line-height: 35px;
    font-weight: lighter;
  }

  .title-QA, .title-news, .title-company {
    line-height: 30px;
    width: 200px;
    margin: 40px auto;
    color: rgba(8, 12, 214, 0.5);
    border: solid 1px rgba(8, 12, 214, 0.5);
    border-radius: 5em;
    padding: 15px;
  }

  .Q_A, .company-info {
    margin-bottom: 50px;
  }

  .Q, .A {
    font-size: 20px;
    text-align: left;
    margin: 5px;
    font-family: 'Poiret One', cursive, 'Kosugi Maru', sans-serif;
  }

  .Q {
    color: rgb(46, 204, 113);
  }

  .A {
    font-size: 15px;
  }
