@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);

.top-wrapper {
  width: 100%;
  height: 500px;
  background-image: -webkit-linear-gradient(-225deg,rgba(53, 165, 247, 0.58) 20%, rgba(183, 33, 255, 0.7) 90%), url("topimage.jpg");
  background-image: linear-gradient(-225deg,rgba(53, 165, 247, 0.58) 20%, rgba(183, 33, 255, 0.7) 90%), url("topimage.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: inline-block;
  position: relative;
}

.top-wrapper::after {
  position: absolute;
	content: '';
	bottom: -50px;
	display: block;
	width: 100%;
	height: 100px;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon fill='%2380deea' points='100,50 0,50 0,0 50,50 100,0 '/%3E%3C/svg%3E");
}

.guide-wrapper {
  width: 95%;
  height: 110%;
  text-align: center;
  background-color: rgb(230, 236, 240);
  margin: 30px auto;
  padding: 2%;
  position: relative;
  box-shadow: 0 1px 20px rgba(32, 33, 36, 0.28)
}

.area-tag-wrapper {
  position: relative;
}

.guide-index {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(230, 236, 240);
  position: relative;
  margin: 10px auto;
  z-index: 1;
}

.guide {
  width:33%;
  padding: 10px;
  position: relative;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 226, 226);
  border-radius: 2em;
  z-index: 2;
  box-shadow: 0 1px 20px rgba(32, 33, 36, 0.28);
}


@supports (display: grid) {
.guide-index {
  margin: 10px auto;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-template-columns: 33.3% 33.3% 33.1%;
}
}


.guide {
  width: auto;
  margin: 0;
}


.guide * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.guide:after {
  background: linear-gradient(to bottom, rgba(240, 204, 255, 0.5), rgba(204, 255, 213, 0.5));
  width: 100%;
  height: 100%;
  border-radius: 2em;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  opacity: 0.75;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.guide figcaption {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  font-size: 25px;
  letter-spacing: 5px;
  color: white;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
}

.guide:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.guide p {
  margin: 0;
  width: 100%;
  opacity: 0;
}


.guide a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.guide:hover figcaption p {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.guide:hover figcaption p {
  opacity: 1;
}

.guide:hover {

}

.news-room, .QA-room,  .company-profile {
  margin: 60px auto 10px;
  text-align: left;
}

.login-form, .regi-form, #content, #chatroom, .news-room, .QA-room, .logout-form {
  width: 90%;
  background-color: rgb(230, 236, 240);
  margin: 0 auto 20px;
  padding: 30px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px 8px lightgray;
-webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
   	   -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
   	        box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
  z-index: 2;
  box-shadow: 0 1px 20px rgba(32, 33, 36, 0.28);
  box-sizing: border-box;
}

.login-form {
  margin: 0 auto 35px;
}
.logout-form {
  margin: 40px auto 35px;
}

#asaguide {
  margin: 0 auto;
}

#asaguest {
  margin: 0 auto;
}

.mypage-head {
  width: 90%;
  margin: 0 auto;
  border-top-color: white;
  border-top-width: 2px;
  border-top-style: solid;
  text-align: center;
}

.myface-wrapper {
  width: 300px;
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
.myscene-wrapper {
  height: 330px;
  width: 330px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 15px;
  position: relative;
  z-index: 100;
}

.myinfo-wrapper {
  margin-top: 70px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  border-bottom-color: white;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  z-index: 100;
  box-sizing: border-box;
}

.chat-index {
  width: 80%;
  margin: 5px auto;
  padding: 10px;
  vertical-align: middle;
  position: relative;
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-color: white;
  border-top-width: 1px;
  border-top-style: solid;
}

.chatroom-faces {
  margin: 20px auto;
  width: 88%;
  height:100px;
  display: flex;
  justify-content: space-between;
}

.treat {
  width: 88%;
  margin-bottom: 20px;
  display: inline-block;
  text-align: right;
}

.news-room, .QA-room {
  text-align: center;
}

.news-wrapper, .sixarea-wrapper {
  display: grid;
  grid-gap: 1px;
  grid-template-rows: 50px 50px 50px 50px 50px ;
  grid-template-columns: 100%;
}

.news {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 226, 226);
  border-radius: 0.5em;
  text-align: left;
}

.news:hover {
  background: linear-gradient(to right, rgba(240, 204, 255, 0.5), rgba(204, 255, 213, 0.5));
  cursor: pointer;
}
