@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);



.top-wrapper {
  top: 0;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: rela1tive;
  z-index: 2;
}

.top-wrapper::after {
  position: relative;
	content: '';
  bottom: 224px;
	display: block;
	width: 100%;
	height: 400px;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon fill='%23e6ecf0' points='100,50 0,50 0,0 50,50 100,0 '/%3E%3C/svg%3E");
  z-index: 2;
}

.topfunc {
  background: -webkit-linear-gradient(-225deg,rgba(53, 165, 247, 0.58), rgba(168, 88, 208, 0.7));
  background: linear-gradient(-225deg,rgba(53, 165, 247, 0.58), rgba(168, 88, 208, 0.7));
  position: absolute;
  width: 100%;
  top: 0;
  height: 500px;
  z-index: 1;
}


.bxslider, .bxslider-wrapper, .bx-viewport, .bxslider li, .bx-clone  {
  height: 500px !important;
  left: 0;
  position: relative;
  z-index: 1;
}

.bxslider-wrapper, .bx-viewport {
  background-color: transparent;
}

.bx-pager-link {
  display: none;
}

.guide-wrapper {
  width: 95%;
  height: 110%;
  text-align: center;
  background-color: rgb(230, 236, 240);
  margin: 0 auto;
  padding: 1%;
  position: relative;
  /*box-shadow: 0 1px 20px rgba(32, 33, 36, 0.28)*/
}

.area-tag-wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.guide-index {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(230, 236, 240);
  position: relative;
  margin: 10px auto;
  z-index: 1;
}

.guide {
  width:33%;
  padding: 10px;
  position: relative;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 226, 226);
  border-radius: 2em;
  z-index: 2;
  box-shadow: 0 1px 20px rgba(32, 33, 36, 0.28);
}


@supports (display: grid) {
.guide-index {
  margin: 10px auto;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-template-columns: 33.3% 33.3% 33.1%;
}
}


.guide {
  width: auto;
  margin: 0;
}


.guide * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.guide:after {
  background: linear-gradient(to bottom, rgba(240, 204, 255, 0.5), rgba(204, 255, 213, 0.5));
  width: 100%;
  height: 100%;
  border-radius: 2em;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  opacity: 0.75;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.guide figcaption {
  position: absolute;
  top: 30%;
  width: 100%;
  font-size: 25px;
  letter-spacing: 5px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
}

.guide:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.guide p {
  margin: 0;
  width: 100%;
  opacity: 0;
}


.guide a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.guide:hover figcaption p {
  color: white!important;
  text-align: center!important;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity: 1;
}

.login-form, #regi-form, #content {
  background-color: rgb(230, 236, 240);
  padding: 20px 30px;
  text-align: center;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
}

#content {
  padding: 60px 30px;
}

#chatroom, .news-room, .QA-room, .logout-form, .company-profile, .company-profile-b {
  background-color: rgb(230, 236, 240);
  margin: 100px auto 50px;
  padding: 20px 5em;
  text-align: center;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
}

.company-profile {
  margin: 40px auto 50px;
}

.company-profile-b {
  margin: 0 auto 50px;
  padding: 3%;
}


.tab-group {
  width: 90%;
  margin: 0 auto;
  height: 80px;
  list-style: none;
  padding: 0;
}

.tab {
  display: inline-block;
	position: relative;
  font-family: 'Poiret One', cursive;
  width: 40%;
	height: 30px;
	margin: 60px 0 0 20px;
	padding: 10px 0 0 0;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	color: rgb(255,255,255);
	background: rgb(110, 222, 239);
  background-color: rgb(164, 179, 239);
  box-shadow: 0px -15px 8px 8px #d3d3d34f;
  z-index: 4;
  cursor: pointer;
  -webkit-border-top-right-radius: 8px;
      -moz-border-radius-topright: 8px;
          border-top-right-radius: 8px;
   -webkit-border-top-left-radius: 8px;
       -moz-border-radius-topleft: 8px;
           border-top-left-radius: 8px;
	        	border: 0px solid #000000;
}

.is-active {
	background-color: rgb(230, 236, 240);
	color: rgb(164, 179, 239);
}

.tab:hover {
  transform: scale(1.02, 1.02);
}

.panel {
  display: none;
}

.panel.is-show {
  display:block;
}

#content {
  width:90%;
  margin: 20px auto 20px;
  box-shadow: 0 0 10px 8px lightgray;
}

.mypage-head {
  width: 90%;
  margin: 0 auto;
  border-top-color: white;
  border-top-width: 1px;
  border-top-style: solid;
  text-align: center;
}

.myface-wrapper {
  display: block;
  text-align: center;
  margin: 20px auto 10px;
  position: relative;
  z-index: 10;
}

.myinfo-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.myscene-wrapper {
  width: 330px;
  display: inline-block !important;
  text-align: center;
  margin: 10px auto;
}

.myscene {
  width: 90%;
  display: inline-block;
  text-align: center;
  margin: auto;
}


.chat-index {
  width: 80%;
  margin: 5px auto;
  padding: 10px;
  vertical-align: middle;
  position: relative;
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: center;
}

.chatroom-faces {
  margin: 20px auto;
  width: 88%;
  height:100px;
  display: flex;
  justify-content: space-between;
}

.treat {
  width: 88%;
  margin-bottom: 20px;
  display: inline-block;
  text-align: right;
}

.news-room, .QA-room {
  text-align: center;
}

.news-wrapper, .sixarea-wrapper {
  display: grid;
  grid-gap: 1px;
  grid-template-rows: 50px 50px 50px 50px 50px ;
  grid-template-columns: 100%;
}

.news {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 226, 226);
  border-radius: 0.5em;
  text-align: left;
}

.news:hover {
  background: linear-gradient(to right, rgba(240, 204, 255, 0.5), rgba(204, 255, 213, 0.5));
  cursor: pointer;
}

.company_pic {
  background-image: -webkit-linear-gradient(-225deg,rgba(132, 250, 176, 0.85) 20%, rgba(143, 211, 244, 0.7) 90%), url(green.jpg);
  background-image: linear-gradient(-225deg,rgba(132, 250, 176, 0.85) 20%, rgba(143, 211, 244, 0.7) 90%), url(green.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
}

.container {
  border: 1px solid white;
  padding: 1em;
}
