<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name ="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <link rel ="stylesheet" href="assets/header_footer.css">
  <link rel ="stylesheet" href="assets/basic_parts.css">
  <link rel ="stylesheet" href="assets/btn_ill_parts.css">
  <link rel ="stylesheet" href="assets/text.css">
  <link rel ="stylesheet" href="assets/wrapper.css">
  <link rel ="stylesheet" href="assets/media.css">
  <link rel ="stylesheet" href="assets/register_parts.css">
  <link href ="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Amatic+SC:700|Anton|Bangers|Caveat|Cherry+Swash:700|Corben:700|Creepster|Economica:700|Homemade+Apple|IM+Fell+DW+Pica+SC|Kaushan+Script|Londrina+Shadow|Montserrat+Subrayada|Oswald:700|Permanent+Marker|Quicksand|Roboto+Condensed:700|Teko|Vollkorn" rel="stylesheet">
  <link href ="https://fonts.googleapis.com/css?family=Anton|Fredoka+One|Lato|Righteous" rel ="stylesheet">
  <link rel ="stylesheet" href ="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity ="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="jquery.upload_thumbs.js"></script>
  <script type="text/javascript" src="js/jquery.arctext.js"></script>
  <script type="text/javascript" src="circletype.min.js"></script>
  <script src="stylesheet.js" type="text/javascript"></script>

  <title>JAPANIGHT</title>
</head>

<body>

 <header>
   <ul class ="logo"><a href="">JAPA<span>N</span>IGHT</a></ul>
   <ul class ="signup"><a href="">SIGNUP</a></ul>
 </header>

 <section class ="top-wrapper">
   <h1 class="lead">Make Your Trip Special!</h1>
   <h2 class="lead4guide">You will see other side of Japan with Local Experience at Night. </h2>
   <div href="" class ="circle"><span>ALL GUIDES<br>FREE<br>ONLY NOW</span></div>
 </section>

 <section class ="register-form">
  <label><h2>Registration is finished！</h2></label>

  <div class ="myinfo-wrapper">　
   <div class ="edit4">Offering
  </div>

 </section>

 <footer>
  <ul class ="logo"><a href="">JAPA<span>N</span>IGHT</a></ul>
  <img src  = "image/town.png" class ="town-ill"></img>
  <wrapper class ="footer-wrapper">
   <ul class ="footer-list"><a href ="">HELP</a></ul>
   <ul class ="footer-list"><a href ="">CONTACT</a></ul>
   <ul class ="footer-list"><a href ="">COMPANY</a></ul>
   <ul class ="footer-list"><a href ="">OUR PHILOSOPHY</a></ul>
   <ul class ="footer-list"><a href ="">TERMS OF USE</a></ul>
   <ul class ="footer-list"><a href ="">SPECIAL COMMERCIAL CODE</a></ul>
   <ul class ="footer-list"><a href ="">PRIVACY POLICY</a></ul>
  </wrapper>
 </footer>
</body>
