<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name ="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <link rel ="stylesheet" href="header_footer.css">
  <link rel ="stylesheet" href="basic_parts.css">
  <link rel ="stylesheet" href="btn_ill_parts.css">
  <link rel ="stylesheet" href="text.css">
  <link rel ="stylesheet" href="wrapper.css">
  <link rel ="stylesheet" href="media.css">
  <link href ="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Amatic+SC:700|Anton|Bangers|Caveat|Cherry+Swash:700|Corben:700|Creepster|Economica:700|Homemade+Apple|IM+Fell+DW+Pica+SC|Kaushan+Script|Londrina+Shadow|Montserrat+Subrayada|Oswald:700|Permanent+Marker|Quicksand|Roboto+Condensed:700|Teko|Vollkorn" rel="stylesheet">
  <link href ="https://fonts.googleapis.com/css?family=Anton|Fredoka+One|Lato|Righteous" rel ="stylesheet">
  <link rel ="stylesheet" href ="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity ="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
  <script type="text/javascript" src="js/jquery.arctext.js"></script>
  <script type="text/javascript" src="circletype.min.js"></script>

<title>JAPANIGHT</title>
</head>

<body>

 <header>

   <div class = "dropdown-header">
    <ul class ="responsive-menu"><i class="fas fa-bars"></i></ul>
    <div class ="dropdown-content-header">
     <a href="#">設定編集</a>
     <a href="#">お知らせ</a>
     <a href="#">Q&A</a>
     <a href="#">LOGOUT</a>
    </div>
   </div>

   <ul class ="logo"><a href="">JAPA<span>N</span>IGHT</a></ul>
   <ul class ="header-username"><a href ="">Mocci</a></ul>　<!-- ログインすることでユーザー名が表出　-->

   <ul class ="mypagecommand"><a href="">設定編集</a></ul>　<!-- ログインすることでマイページコマンドが表出　-->
   <ul class ="mypagecommand"><a href=""><span>マッチ</span></a></ul>
   <ul class ="mypagecommand"><a href="">お知らせ</a></ul>
   <ul class ="mypagecommand"><a href="">Q&A</a></ul>
   <ul class ="signup"><a href="">LOGOUT</a></ul> <!-- ログインすることでsignupがlogoutに変更される　-->
  　
 </header>

 <div class="mypage">
  <ul class="tabs group">
   <li><a class="active" href="#/asaguide">AS A GUIDE</a></li>
   <li><a href="#/asaguest">AS A GUEST</a></li>
  </ul>


 <div id="content">
  <section id= "asaguide">

   <img id ="mypageface-icon" src = "image/face-icon_3.jpg"></img>

   <div><i class="fas fa-angle-double-right"><a></a></i></div>

   <div class ="chat-index">
    <img id ="chat-face" src = "image/chat-face_1.jpg"></img>
    <h3 class ="chat-name">Ochi</h3>
    <div class = "treat-icon"><i class="fas fa-utensils"></i></div>
    <button class ="chat-btn">チャットする</button>
    <h3 class ="chat-delete">削除</h3>
   </div>

   <div class ="chat-index">
    <img id ="chat-face" src = "image/chat-face_1.jpg"></img>
    <h3 class ="chat-name">Ochi</h3>
    <div class = "treat-icon"><i class="fas fa-utensils"></i></div>
    <button class ="chat-btn">チャットする</button>
    <h3 class ="chat-delete">削除</h3>
   </div>
   <div><i class="fas fa-angle-double-right"><a></a></i></div>

  </section>

  <section id= "asaguest">
  </section>

 </div>


 <footer>　<!-- フッターは同じコードなので省略して記述したい　-->
       <ul class ="logo"><a href="">JAPA<span>N</span>IGHT</a></ul>
       <img src  = "image/town.png" class ="town-ill"></img>
  <wrapper class ="footer-wrapper">
        <ul class ="footer-list"><a href ="">HELP</a></ul>
        <ul class ="footer-list"><a href ="">CONTACT</a></ul>
        <ul class ="footer-list"><a href ="">COMPANY</a></ul>
        <ul class ="footer-list"><a href ="">OUR PHILOSOPHY</a></ul>
        <ul class ="footer-list"><a href ="">TERMS OF USE</a></ul>
        <ul class ="footer-list"><a href ="">SPECIAL COMMERCIAL CODE</a></ul>
        <ul class ="footer-list"><a href ="">PRIVACY POLICY</a></ul>
  </wrapper>
 </footer>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="stylesheet.js" type="text/javascript"></script>
    <script src="jquery.upload_thumbs.js"></script>
</body>
</html>
